.feeds ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  /* border-radius: 15px 50px; */
}

.feeds ul li {
  list-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex: 0 0 33.333333%;
}
